 <!--<html>
<body>
	Welcome PAge-->
  {% extends "main.html" %}
  {% block content %}
  {% include "header.html" %}



<h2>See Results</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Results</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">We already know where the person is!</h4>
        </div>
        <div class="modal-body">
          <p>{{searchname}} is at {{address}}. You can get in contact with {{name}} using {{phonenumber}} or {{email}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Call</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



{% endblock %}


<!--</body>
</html>-->