<!--<html>
<body>
  Welcome PAge-->
  {% extends "main.html" %}
  {% block content %}
  {% include "header.html" %}
  <script type="text/javascript">
    function posTrain(imageURL){
      document.getElementById('imageurl').value=imageURL;

    };
    function trainPerson() {
      var file    = document.querySelector('input[type=file]').files[0];
      var reader  = new FileReader();

      reader.addEventListener("load", function () {
        var dataURI = reader.result;
        var imageData = dataURI.slice(dataURI.indexOf(',') + 1);
        console.log(imageData);
        $.ajax({
          url: 'https://api.imgur.com/3/image',
          type: 'post',
          headers: {
            Authorization: 'Client-ID ' + '106f3726202fc8c'
          },
          data: {
            image: imageData,

          },
          dataType: 'json',
          success: function(response) {
            if(response.success) {
              var imageURL = response.data.link;

              posTrain(imageURL);}
            }});
      }, false);
      
      reader.readAsDataURL(file);

    };

  </script>

  <br/><br/>
  <form action="" method="POST">


    <div class="row text-left">
      <form action="" method="post" >

        <div>
        <H1>Enter the information of the Person you found:</H1>
          <br>
          <div class="image-form">
            <input type="file" id="file-input" placeholder="Upload Image">
            <br><br>
          </div>  
          <br>
          <br>
          <input type="button" class="btn btn-primary btn-lg" id="upload" onclick="trainPerson()" value="upload">
          <br><br>

          <div class="form-group" id="username-form-group">
            <label class="control-label">Image URL*</label>
            <input class="form-control" name="imageurl"id="imageurl" type="text" required="true">
          </div>

          <div class="form-group" id="username-form-group">
            <label class="control-label">Enter your name*</label>
            <input class="form-control" name="name" id="name" type="text" required="true">
          </div>

          <div class="form-group" id="email-form-group">
            <label for="email">Enter your Email*</label>
            <input class="form-control" name="email" id="email" type="email" required="true">
          </div>

          <div class="form-group" id="number-form-group">
            <label for="number">Enter your phone Number*</label>
            <input class="form-control" name="phonenumber" id="number" type="number" required="true">
          </div>


          <div class="form-group">
            <label for="sel1">Approx Age Group of the found person:</label>
            <select class="form-control" name="agegroup" id="sel1">
              <option value ="1" >Child(1-15 Years)</option>
              <option value ="2" >Adult(15-50 Years)</option>
              <option value ="3" >Senior Citizens(50+)</option>
            </select>
            <div>
              <br>

              <div class="form-group">
                <label for="sel1">Select the Gender of the found person:</label>
                <select class="form-control" name="gender" id="sel1">
                  <option value = "1" >Male</option>
                  <option value = "2" >Female</option>
                </select>

                <div class="form-group col-sm-6" id="reportperson-form-group">
                 <br>
                 <button  class="btn btn-primary btn-lg" id="submit" value="submit">Submit</button>

               </div>
             </div>
           </form>

           {% endblock %}


<!--</body>
</html>-->