 <!--<html>
<body>
	Welcome PAge-->
  {% extends "main.html" %}
  {% block content %}
  {% include "header.html" %}


  <br/><br/>
  <form action="" method="post">


    <div class="row text-left">
      <form action="" method="post" >  
      <h2>Your Current Address</h2>
        <div class="form-group" id="username-form-group">
          <label class="control-label">Name*</label>
          <input class="form-control" id="name" type="text" required="true">
        </div>

        <div class="form-group" id="email-form-group">
          <label for="email">Email*</label>
          <input class="form-control" id="email" type="email" required="true">
        </div>

        <div class="form-group" id="number-form-group">
          <label for="number">Number*</label>
          <input class="form-control" id="number" type="number" required="true">
        </div>


        <div class="form-group">
          <label for="sel1">Age Group:</label>
          <select class="form-control" id="sel1">
            <option>Child(1-15 Years)</option>
            <option>Adult(15-50 Years)</option>
            <option>Senior Citizens(50+)</option>
          </select>
          <div>
            <br>

            <div class="form-group">
              <label for="sel1">Gender:</label>
              <select class="form-control" id="sel1">
                <option>Male</option>
                <option>Female</option>
              </select>
              <div>
                <br>
                <div class="image-form">
                  <input type="file" id="file-input">
                  <br>
                  <canvas id="canvas" width="600px" height="400px"></canvas>
                </div>


              </form>





              {% endblock %}


<!--</body>
</html>-->